:root {
  --seaweed-border: #e6e8eb;
  --seaweed-navbar-height: 56px;
  --seaweed-view-height: calc(100vh - var(--seaweed-navbar-height));
  --seaweed-card-color: #f9f9f9;
  --seaweed-navbar-color: white;
  --seaweed-white: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --seaweed-border: #30363d;
    --seaweed-card-color: #2f2f2f;
    --seaweed-navbar-color: #1d1e1f;
    --seaweed-white: rgba(255, 255, 255, 0.8);
  }
}
.navbar {
  display: flex;
  height: var(--seaweed-navbar-height);
  align-items: center;
  position: relative;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-bottom: 1.5px solid var(--seaweed-border);
}
.navbar-menu {
  position: absolute;
  right: 20px;
}
@media (min-width: 768px) {
  .navbar {
    padding: 0 0.5em;
    justify-content: unset;
  }
  .navbar-menu {
    display: none;
  }
}
.navbar * {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .navbar-button {
    margin-left: 10px;
    margin-right: auto;
  }
}
.navbar button {
  background-color: transparent !important;
  width: fit-content;
  color: var(--fish-primary);
}
.navbar button:hover {
  background-color: unset;
}
.navbar-title {
  margin-right: auto;
  margin-left: 4px;
}
.navbar-title * {
  font-size: 20px;
  display: inline;
  font-weight: 500;
  vertical-align: middle;
}
.navbar-title * img,
.navbar-title svg {
  margin-right: 4px;
  height: 20px;
}
.navbar-list {
  padding: 1em;
  position: fixed;
  top: 0;
  left: -100vw;
  list-style: none;
  height: 100vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  background-color: var(--seaweed-navbar-color);
  z-index: 10000;
  transition: left 0.25s ease-in;
  border-right: 1.5px solid var(--seaweed-border);
  overflow: scroll;
}
@media (min-width: 768px) {
  .navbar-list {
    position: static;
    height: fit-content;
    width: fit-content;
    padding: 0;
    flex-direction: unset;
    background-color: unset;
    border-right: none;
    overflow: unset;
  }
  .navbar-list-close {
    display: none;
  }
}
.navbar-list > * {
  margin-left: 10px;
}
.navbar-list.active {
  left: 0;
}
.navbar-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--fish-primary);
}
.navbar-list-item * {
  vertical-align: text-bottom;
}
@media (min-width: 768px) {
  .navbar-list-item {
    margin-right: 10px;
  }
}
a.btn.filled,
button.filled {
  background-color: var(--fish-primary);
  color: var(--seaweed-white);
}
a.btn.hollow,
button.hollow {
  background-color: transparent;
  border: 2px solid var(--fish-primary);
}
.card {
  background-color: var(--seaweed-card-color);
  border-radius: 12px;
  padding: 24px;
  margin: 8px;
  text-align: left;
}
.card-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 4px;
  color: var(--fish-primary);
}
.card-para {
  font-size: 15px;
  margin: 0;
  opacity: 0.75;
}
.notice {
  padding: 12px 24px;
  background-color: var(--fish-primary-light);
  color: var(--fish-primary);
  border-radius: 4px;
}
.notice p {
  margin: 0;
}
.footer {
  margin: 0 auto;
}
.footer-link {
  margin: 12px auto;
  padding-left: 24px;
  padding-right: 24px;
  width: 375px;
}
@media (min-width: 768px) {
  .footer-link {
    width: unset;
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}
@media (min-width: 1200px) {
  .footer-link {
    width: unset;
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }
}
.footer-link-cell-list {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
}
.footer-link-cell-list * {
  font-size: calc(var(---fish-font-size-) * 75%);
}
.footer .copyright {
  display: block;
  text-align: center;
  opacity: 0.6;
  width: 100vw;
  border-top: 1.5px solid var(--seaweed-border);
  margin-top: 32px;
  padding-top: 16px;
}
