a {
    box-sizing: border-box;
    display: flex;
    background-color: rgb(247 247 247);
    width: 275px;
    border-radius: 4px;
    padding: 1em;
    text-decoration: none;
    color: #000;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    @media (prefers-color-scheme: dark) {
        background-color: #222;
    }
}

.title {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    @media (prefers-color-scheme: dark) {
        color: #bbb;
    }
}

.link {
    margin: 0;
    margin-top: 0.25em;
    font-size: 16px;
    color: rgb(128 128 128);
}

.image {
    width: 55px;
    height: 55px;
    border-radius: 2px;
    @media (prefers-color-scheme: dark) {
        filter: brightness(0.9);
    }
}
