a.btn,
button {
    &.filled {
        background-color: var(--fish-primary);
        color: white;
    }

    &.hollow {
        background-color: transparent;
        border: 2px solid var(--fish-primary);
    }
}
