{
    "assumptions": {
        "setPublicClassFields": true
    },
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "version": "2018-09",
                "decoratorsBeforeExport": true
            }
        ],
        ["@babel/plugin-proposal-class-properties"]
    ],
    "presets": ["@babel/preset-typescript"]
}
